@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
	color:#333;
	background-color:#fafafa;
	font:12px/1.62 Arial, Helvetica, sans-serif;
}
table,h2,p,select{
	margin:0px;
	padding:0px;
}
em,i{
	font-style:normal;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
a{
	color:#333;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a img{
	border:none;
}

.popuInfo{
	clear:both;
	overflow:hidden;
	padding:10px 20px;
}
.popuType{
	clear:both;
	overflow:hidden;
	margin-bottom:10px;
}
.popuName{
	cursor:pointer;
	height:28px;
	line-height:28px;
	padding:0px 10px;
	border:1px solid #bedcff;
	background-color:#e2efff;
}
.popuName img{
	float:left;
	cursor:pointer;
	margin-top:7px;
	margin-right:6px;
}
.popuName span{
	font-weight:bold;
}
.popuDetail ul{
	clear:both;
	overflow:hidden;
	margin-top:10px;
}
.popuDetail ul li{
	float:left;
	width:50%;
	line-height:30px;
	margin-bottom:3px; 
}
.popuDetail ul li span{
	float:left;
	display: block;
	width:25%;
	text-align:right;
	margin-right:5px;
	padding-right:5px;
	background-color: #efefef; 
}
.popuDetail ul li em{
	float:left;
	display: block;
	width:70%;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;	
	padding-right:5px;
}
.popuBtn{
	text-align:center;
	margin-top:40px;
}
.popuBtn input{
	width:80px;
	height:30px;
	cursor:pointer;
}