@charset "utf-8";
/* CSS Document */
.popMain{
	position:relative;	
	padding-left:10px;
	padding-right:20px;	
	padding-top:20px;
	padding-bottom:20px;
}
.popIco{
	position:absolute;
	top:20px;
	left:20px;
	width:24px;
	height:24px;
}
.popAdd{
	/*padding-left:10px;*/	
}
.popInfo{
	/*padding-left:10%;*/
}
.popInfo li{
	float:left;
	width:100%;
	line-height:24px;
	margin-bottom:12px;
}
.popInfo li span{
	float:left;
	width:18%;
	text-align:right;
	font-weight:bold;
}
.popInfo li em{
	float:left;
	width:20%;
	text-align:left;
	font-weight:bold;
}
.popInfo li i{
	float:left;
	width:80%;
}
.popInfo li i p{
	float:left;
	color:#F60;
	margin-left:6px;
}
.names{
	float:left;
	width:100%;
}
.name{
	float:left;
	width:100px;
}
.popInfo li strong{
	float:left;
	width:5%;
	text-align: left;
}
.popInfo li b{
	float:left;
	color:#02800d;
	font-size:14px;
}

.popText{
	float:left;
	height:25px;
	line-height:25px;
	padding-left:2px;
	border:1px solid #CCC;
	background-color:#FFFEF4;
}
.Text01{
	width:98%;
}
.Text02{
	width:60%;
}
.Text03{
	width:202px;
}
.popInfo li i{
	float:left;
}
.popInfo li i img{
	float:left;
	margin-left:10px;
}
.Text04{
	float:left;
	width:98%;
	height:60px;
	line-height:22px;
	padding-left:2px;
	overflow:auto;
	border:1px solid #CCC;
	background-color:#FFFEF4;
}
.Text-any{
	float:left;
	line-height:22px;
	background-color:#FFFEF4;
}
.popDone{
	height:24px;
	line-height:24px;
	padding-top:10px;
	margin-top:20px;
	border-top:1px solid #CCC;
}
.popDone span{
	float:left;
}
.popDone span input{
	float:left;
}
.popDone span em{
	float:left;
	margin-left:5px;
}
.popDone i{
	float:right;
}
.popBtn{
	float:left;
	width:64px;
	height:26px;
	margin-left:10px;
}
.star{
	font-size:14px;
	color:red;
	font-weight:bold;
}