/* CSS Document */
body{
	margin:0px;
	padding:0px;
	color:#333;
	background-color:#fff;
	font:12px/1.62 Arial, Helvetica, sans-serif;
}
table,h2,p{
	margin:0px;
	padding:0px;
}
em,i,u{
	font-style:normal;
}
a{
	color:#333;
	cursor:pointer;
	text-decoration:none;
}
a:hover{
	text-decoration:none;
}
a img{
	border:none;
}
ul{
	margin:0px;
	padding:0px;
	list-style:none;
}
.wrap{
	min-width:100%;
	margin:0px auto;
	background-color:#E6E6E6;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

/*bnt样式==============================================*/
.btnw01{
	width:80px;
	height:24px;
	border-radius:3px;
	border:0;
	color:#ffffff;
	background:#F9B129;
	margin-right:10px;
}
/**********zhao 增加样式**************/
.box{
	width:100%;
	margin:0 auto;
}
b,strong{
	font-weight:normal;
}
