mail/* CSS Document */
#right{
	width:100%;
	float:right;
}
.right{
	/*margin:10px;*/
}
.title{
	font-size:14px;
	line-height:30px;
	margin-bottom:10px;
}
.titleLeft{
	float:left;
	color:#2864b4;
	font-weight:bold;
}
.titleLeft img{
	float:left;
	margin-top:7px;
	margin-right:10px;
}
.titleRight{
	float:right;
}
.titleRight span{
	float:left;
	margin-left:10px;
}
.titleRight span img{
	float:left;
	cursor:pointer;
	margin-top:6px;
	margin-right:8px;
}
.titleRight span a{
	color:#2864b4;
}
.titleRight span a:hover{
	text-decoration:underline;
}


.query{
	position:relative;
	clear:both;
	overflow:hidden;
	line-height:30px;
	padding:10px 10px 10px 36px;
	margin-bottom:10px;
	border:1px solid #DADADA;
	background: #EFF5FF;
}
.sign{
	position:absolute;
	left:10px;
	top:11px;
	height:30px;
	margin-right:12px;
}
.sign img{
	float:left;
	margin-top:7px;
}
.inputBox{
	float:left;
	width:auto;
	height:30px;
	line-height:30px;
	margin-top:3px;
	margin-right:20px;
}
.inputBox span{
	float:left;
}
.inputBox i{
	float:left;
}
.inputBox i em{
	padding:0px 5px;
}
.boxText{
	height:24px;
	line-height:24px;
	border-radius:2px;
	padding:0px 2px;
	margin-top:2px;
	border:1px solid #DDD;
	background-color:#FFF;
}
.text01{
	width:160px;
}
.text02{	
	width:100px;
}
.text03{
	height:26px;
	line-height:26px;
	width:100px;
}
.search{
	float:left;
	height:30px;
	line-height:30px;
	margin-top:3px;
}
.search a{
	float:left;
	height:30px;
}
.search a:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}

.list{
	margin-bottom:10px;
}
.listInfos{
	display:block;
	height:500px;
	overflow:auto;
	border:1px solid #DADADA;
	border-top:none;
}
.listInfo{
	border:1px solid #DADADA;
	border-bottom: 0;
}
.listInfo td,.listInfo th{
	height:36px;
	line-height:36px;
	padding-left:10px;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/*.listInfo tr:hover{
	background-color:#ECF6FF;
}*/
.listInfo td a{
	color:#28528E;
}
.done{
	width:100px;
	text-align:center;
}
.done a{
	float:left;
}
.listInfo td a img{
	width:15px;
	height:15px;
	margin-right:10px;
}
.listName{
	height:30px;
	line-height:30px;
	font-weight:bold;
	background-color:#F2F2F2;	
}
.listName td{
	border-bottom:1px solid #DADADA;
}
.listName td span{
	letter-spacing:1px;
}
.listName img{
	margin-left:5px;
}
.listBg{
	background-color:#F8F8F8;
}

.operation{
	height:30px;
	line-height:30px;
	margin-top:10px;
}
.operate{
	float:left;
}
.choose{
	float:left;
	color:#2765B2;
	margin-left:15px;
	margin-right:10px;
}
.choose img{
	float:left;
	margin-right:5px;
}
.choose a{
	color:#2765B2;
	padding:0px 4px;
}
.choose a:hover{
	text-decoration:underline;
}
.make{
	float:left;
}
.make img{
	float:left;
	cursor:pointer;
	margin-top:7px;
	margin-right:8px;
}
.make img:hover{
	opacity:0.8;
	filter:alpha(opacity=80);
}
.page{
	float:right;
}
.page span{
	float:left;
	padding:0px 5px;
}


/*鍩虹鏁版嵁*/
.popInfo li i font{
	float:right;
	padding-right:55px;
}
.dataText{
	float:left;
	height:20px;
	line-height:20px;
	padding-left:2px;
	background-color:#FAFAFA;
	border-top:1px solid #777;
	border-left:1px solid #777;
	border-right:1px solid #D2D2D2;
	border-bottom:1px solid #D2D2D2;
}
.dataName img{
	float:left;
	cursor:pointer;
	margin-top:3px;
	margin-left:10px;
}
.dataSub img{
	float:left;
	margin-left:60px;
	margin-right:10px;
}
.btn{
	float:left;
	width:64px;
	height:26px;
	margin-top:2px;
	margin-left:5px;
}
.listBefore{
	cursor:pointer;
    height:29px;
    background-color:#FFF;
}
.listAgo{
	cursor:pointer;
    height:29px;
    background-color:#F9F8F8;
}
.listClick{
	cursor:pointer;
    height:29px;
    background-color:#ffe5a9;
}
.listHover{
	cursor:pointer;
    height:29px;
    background-color:#d6edff;
}
.mail{
	float:left;
}
.mail a{
	color:#1165b2;
}
.mail a:hover{
	text-decoration: underline;
}
/*search.css===================================================================================================================*/
.s-search{
	margin:20px;
	padding-bottom:10px;
	padding-left:0;
	border:1px solid #ccc;
}
.s-search-title{
	padding-left:20px;
	height:36px;
	line-height:36px;
	font-weight:bold;
	border-bottom:1px solid #ccc;
	background:#E0ECFF;
}
.s-search li{
	width:500px;
	height:30px;
	line-height:30px;
	padding-top:10px;
	float:left;
}
.s-search:after{
	clear:both;
	display:table;
	content:".";
	height:0;
	font-size:0;
	visibility:hidden;
}
.s-search li span{
	width:140px;
	height:30px;
	float:left;
	text-align:right;
}
.s-search li span{
	float:left;
}
.s-search li label{
	float:left;
	font-weight:normal;
}
.s-search-button{
	margin:0 auto;
	width:120px;
	height:36px;
	text-align:center;
}
/*class======================================================================================================================*/
.example {
	position: relative;
	padding:20px;
	margin: 0px 10px 0px 10px;
	border: 1px solid #ddd;
	border-style: solid;
	outline: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
	font-size:14px;
}
.class-title{
	margin: 10px 10px 0px 10px;
	height:36px;
	line-height:36px;
	font-size:14px;
	font-weight:bold;
	background:#0569BF;
	text-indent:1em;
	color:#fff;
}
.example>:last-child {
	margin-bottom: 0;
}
.dropdown {
	position: relative;
}
.class-bnt{
	width:120px;
	height:45px;
	text-align:left;
}
.class-bnt1{
	height:45px;
	text-align:left;
}
.btn-group{
	padding:0px 20px 20px 0;
}
.btn-group>:last-child {
	margin-bottom:20px;
}
.add-class{
	float:right;
	padding-right:10px;
	font-size:14px;
}
.class-left{
	 float: left; 
	 width: 20%;
	 height: 100%; 
	 height: auto; 
	 min-height: 550px;
}
.class-left-c{
	 height: auto; 
	 min-height: 420px;
	 margin:10px 10px 0 10px;
	 border:1px solid #ccc;
	 padding-bottom: 100px;
}
.class-title-l{
	width:100%;
	/*height:36px;*/
	line-height:36px;
	font-size:14px;
	font-weight:bold;
	background:#D4E7FF;
	/*text-indent:1em;*/
	color:#333;
	border-bottom:1px solid #ffffff;
}
.selected{
	background:#0569BF;
	text-indent:1em;
	color:#fff;
}
.class-title-l span{
	float:right;
	line-height:36px;
	padding-right: 30px;
}
.class-title-l ul{
	margin-bottom:0;
}
.class-title-l ul li{
	width:100%;
	height:36px;
	line-height:36px;
	font-size:12px;
	background:#EFF5FF;
	text-indent:1em;
	color:#fff;
	border-bottom:1px solid #ccc;
}
.class-title-l ul li a{
	display:block;
	width:100%;
}
.class-title-l ul li a:hover{
	background:#D4E7FF;
	color:#0569BF;
}
.class-bnt2{
	height:36px;
	background:#D4E7FF;
	border:none;
	text-align: left;
    font-weight: bold;
    text-indent:0;
    padding: 0;
    outline:none;
}
.class-bnt2:hover{
	background:#0569BF;
	color:#ffffff;
}
.class-bnt3{
	width:80%;
	border-right:1px solid #bedafd;
	text-indent:1em;
}
.class-bnt3:hover{
	background:#0569BF;
	color:#ffffff;
}
.class-bnt4{
	width:20%;
}



































