/*样式重置*/
*{margin:0px;padding:0px;}
body{
    margin:0;
    padding:0;
    color:#333;
    letter-spacing:0.2px;
    background-color:#f8f8f8;
    font-family:"微软雅黑",Microsoft YaHei,Arial,Verdana;
}
em,i,u{
    font-style:normal;
}
b,strong{
    font-weight:normal;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration: none;
}
input,select,textarea{
    outline:none;
}
input[type="button"], input[type="submit"], input[type="reset"]
{
    -webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
.clearfix{
    clear:both;
}


/*banner样式*/
.sub-banner-homewrap{
    width: 100%;
    height: 344px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.sub-banner-05 {
    background: url(../image/huaneng-bg.png) no-repeat center top;
}
.search-position{
    width:1000px;
    margin:0 auto;
}
.search-position .search-top,.search-bottom{
    display: block;
    width: 750px;
    height:60px;
}
.search-position .qiye-logo{
	margin-top:111px;
	margin-bottom:56px;
}
.search-position .search-top{
    position:relative;
    margin-left:200px;
}
.search-position .search-top .search-left{
    float:left;
}
.search-position .search-top .search-right{
    float:right;
}
.search-position .search-bottom .search-left{
    float:left;
}
.search-position .search-bottom .search-right{
    float:right;
    margin-right:20px;
}
.search-position .search-top .form-control{
    width: 600px;
    height:56px;
    border-radius: 3px;
    border: none;
}
.search-position .search-top span{
    display: inline-block;
    width:120px;
    height:56px;
    color:#333;
    font-size:18px;
    line-height:56px;
    text-align: center;
    position:absolute;
    right:149px;
    background-color: #fff60d;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-position .search-top .search-right a{
    width:130px;
    height:56px;
    font-size:18px;
    line-height:56px;
    text-align: center;
    color:#fff;
    background-color: #50a7ef;
    border-radius: 3px;
    display: inline-block;
}
.search-position .search-top .search-right a:hover{
    text-decoration: none;
}
.search-position .search-bottom .search-left{
    display: inline-block;
    height:36px;
}
.search-position .search-bottom .search-left p{
    font-size:14px;
    color:#ffffff;
    line-height: 36px;
}
.search-position .search-bottom .search-right span{
    background: url("../image/choice.png") no-repeat center;
    width: 90px;
    height: 36px;
    display: inline-block;
    font-size:14px;
    color:#ffffff;
    text-align: center;
    line-height:34px;

}
.search-position .search-bottom{
    margin-top:20px;
}
.search-right .button {
    border: none;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
    border-radius: 2px;
    background: url("../image/choice.png") no-repeat center;
    width: 90px;
    height: 36px;
    font-size:14px;
    color:#ffffff;
    text-align: center;
    line-height:34px;

}

/*内容样式*/
.notice-box{
    border-bottom: solid 1px #dddddd;
    background-color:#f8f8f8;
}
.notice{
    width:1000px;
    margin:0 auto 0 auto;
    height:60px;

}
.notice em{
    display: inline-block;
    line-height:59px;
    color:#333333;
    font-size: 14px;
    margin-top:-1px;
}
.notice .notice-left{
    float: left;
    line-height:60px;
    color:#333333;
    font-size: 14px;
}
.notice .notice-right{
    float:right;
    line-height:60px;
    color:#333333;
    font-size: 14px;
}
.notice .notice-left .icon-volume-up{
    display: inline-block;
    color:#e88e19;
    font-size:18px;
    line-height: 60px;
    margin-right:8px;
}



.standard-content-1{
    width:1000px;
    margin:0 auto 0 auto;
    padding-top: 35px;
    background: url("../image/ba-bz.png") no-repeat 156px 20px;
}
.standard-content-1 h1,h2{
    text-align: center;
    margin: 0;
    font-weight: normal;
}
.standard-content-1 h1{
    font-size:22px;
    line-height:34px;

}
.standard-content-1 h2{
    font-size:14px;
    line-height:20px;
}
.standard-content-1 .standard-text{
    margin-top:24px;
    height: 240px;
    display: block;
}
.standard-text ul{
    float: left;
    display: inline-block;
}
.standard-content-1 .bg-1{
    width:325px;
    display: inline-block;
    margin-right:25px;
}
.standard-content-1 .standard-text-right{
    width:650px;
    height: 36px;
    display: inline-block;
    margin-bottom:15px;
}
.standard-content-1 .standard-text-right ul li{
    font-size:12px;
    color:#666666;
    width: 530px;
    overflow: hidden;
    height: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.standard-content-1 .standard-text-right ul{
    width:550px;
    height: 36px;
    line-height:20px;
}
.standard-content-1 .standard-text-right span{
    float: left;display: inline-block;
    margin-right:10px;
    height:42px;
    width: 35px;
    color: white;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
}
.standard-content-1 .standard-text-right .GB-1{
    background: url("../image/GB-1.png") no-repeat center;
}
.standard-content-1 .standard-text-right .DL{
    background: url("../image/DL.png") no-repeat center;
}
.standard-content-1 .standard-text-right .Q{
    background: url("../image/Q.png") no-repeat center;
}
.standard-content-1 .standard-text-right .SSL{
    background: url("../image/SSL.png") no-repeat center;
}
/*.standard-content-1 .standard-text-right a{
    float: right;
    display: inline-block;
    font-size:20px ;
}*/
.standard-content-1  a:hover{
	text-decoration:underline;
}
.standard-content-1 .icon-angle-right{
    font-size:20px;
    line-height: 36px;
    color:#999999;
}
.standard-content-box-1{
    background-color: #f1f6fb;
}
.standard-content-2{
    width:1000px;
    margin:0 auto 0 auto;
    padding-top: 35px;
    background: url("../image/ba-bz.png") no-repeat 156px 20px;

}
.standard-content-2 h1,h2{
    text-align: center;
    margin: 0;
    font-weight: normal;
}
.standard-content-2 h1{
    font-size:22px;
    line-height:34px;

}
.standard-content-2 h2{
    font-size:14px;
    line-height:20px;
}
.standard-content-2 .standard-text{
    margin-top:24px;
    height: 240px;
    display: block;
}
.standard-text ul{
    float: left;
    display: inline-block;
}
.standard-content-2 .bg-1{
    width:325px;
    display: inline-block;
    margin-left:25px;
}
.standard-content-2 .standard-text-right{
    width:650px;
    height: 36px;
    display: inline-block;
    margin-bottom:15px;
}
.standard-content-2 .standard-text-right ul li{
    font-size:12px;
    color:#666666;
}
.standard-content-2 .standard-text-right ul{
    width:550px;
    height: 36px;
    line-height:20px;
}
.standard-content-2 .standard-text-right span{
    float: left;display: inline-block;
    margin-right:10px;
    height:42px;
    width: 35px;
    color: white;
    text-align: center;
    line-height: 42px;
    font-size: 20px;
}
.standard-content-2 .standard-text-right .GB-1{
    background: url("../image/GB-1.png") no-repeat center;
}
.standard-content-2 .standard-text-right .DL{
    background: url("../image/DL.png") no-repeat center;
}
.standard-content-2 .standard-text-right .Q{
    background: url("../image/Q.png") no-repeat center;
}
.standard-content-2 .standard-text-right .SSL{
    background: url("../image/SSL.png") no-repeat center;
}
.standard-content-2 .standard-text-right a{
    /*float: right;*/
    display: inline-block;
   /* font-size:20px ;*/
}
.standard-content-2 .standard-text-right a:hover{
	text-decoration:underline;
}
.standard-content-2 .icon-angle-right{
    font-size:20px;
    line-height: 36px;
    color:#999999;
}
.standard-content-2 a:hover{
    text-decoration: none;
}



.link{
    width:1000px;
    margin:20px auto 20px auto;
}
.link:after{
	display:table;
	content:"";
	height:0;
	line-height:0;
	clear:both;
}
.link li{
    display: inline-block;
    float: left;
    width: 150px;
    height: 110px;
    text-align: center;
}

.link .link-0{
    margin-right:20px;
    background: url("../image/bg-2.png") no-repeat center;
}
.link .link-1{
    margin-right:20px;
}
.link li a{
    width: 148px;
    height: 108px;
    padding:5px;
    display: inline-block;
    border: #dddddd 1px solid;
}
.link li a:hover{
	 border:1px solid #50a7ef;
}
.link li a img{
    width: 138px;
    height: 96px;
}
/*右侧边栏*/
.right-bar{
	position: fixed;
    width: 84px;
    left: 50%;
    margin-left: 502px;
    bottom: 20px;
    _position: absolute;
    _top: expression(eval(document.documentElement.scrollTop || document.body.scrollTop)+eval(document.documentElement.clientHeight || document.body.clientHeight)-361+'px');
    z-index: 998;
}
.dtl11 {
    width: 100%;
    height:54px;
    margin-bottom:5px;
    line-height:54px;
    text-align:center;
    border-radius:3px;
    background:#50a7ef;
    position: relative;
    overflow: hidden;
   /* -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);*/
}
.dtl11 i {
	display:inline-block;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color:#ffffff;
    font-size: 14px;
    line-height: 54px;
}
.dtl11 i b{
	font-size:14px;
}
.dtl11 .dtl {
    background: #111111;
    width: 100%;
    position: absolute;
    height: 100%;
    text-align:center;
    top: 0;
    left: -100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.dtl11 .dtl a {
    line-height: 54px;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    text-decoration: none;
}
.dtl11 .dtl a:hover {
}
.dtl11:hover .dtl {
    visibility: visible;
    opacity: 1;
    left: 0;
}
.dtl11:hover i {
    opacity: 0;
}



