

/* login */
.login{width:380px;position:absolute;border:#ebebeb solid 1px;height:308px;bottom:-320px;left:50%;display:none;background:#ffffff;box-shadow:0px 0px 20px #ddd;z-index:9999;margin-left:-250px;border-radius: 5px;}
.login-title{width: 40px;text-align:center;line-height:40px;height:40px;font-size:18px;position:absolute;top:0;right:0;margin-top:-20px;margin-right:-20px;border-radius: 50%;background-color: white;}
.login-input-content{margin-top:0;}
.login-box {
    color:#959595;
}
.login-input-1{
    display: inline-block;
    width:337px;
    height:46px;
    margin:20px;
    position: relative;
}
.login-input-1 input{
    width:337px;
    height:44px;
    border:solid 1px #dddddd;
    display: inline-block;
    border-radius: 5px;
    color:#999999;
    font-size:14px;
    line-height:44px;
    padding-left:50px ;
}
.login-input-1 span{
    position: absolute;
    top:0;
    left:0;
    width:44px;
    height:44px;
    display: inline-block;
    float:none;
   text-align: center;
    background-color: #50a7ef;
    border-radius: 5px;
}
.login-input-1 .icon-user{
    line-height:44px;
    font-size:18px;
    color:#ffffff;
    margin:0;
}
.login-input-2{
    width:337px;
    height:46px;
    margin:20px;
    position: relative;
}
.login-input-2 input{
    width:337px;
    height:44px;
    border:solid 1px #dddddd;
    display: inline-block;
    border-radius: 5px;
    color:#999999;
    font-size:14px;
    line-height:44px;
    padding-left:50px ;
}
.login-input-2 span{
    position: absolute;
    top:0;
    left:0;
    width:44px;
    height:44px;
    display: inline-block;
    float:none;
    text-align: center;
    background-color: #50a7ef;
    border-radius: 5px;
}
.login-input-2 .icon-user{
    line-height:44px;
    font-size:18px;
    color:#ffffff;
}
.input-checkbox #agree-protocol{
    width:14px;
    height:14px;
    margin-top:3px;
    display: inline-block;
    margin-right: 6px;
}
.input-checkbox{
    margin-top:10px;
}
.input-checkbox ul li{
    font-size:12px;
    color:#666666;
    display: inline-block;
}
.input-checkbox ul{
    margin-left:20px;
    float: left;
}
.input-checkbox ul a{
    margin: 0;
    color:#666666;
    text-decoration: underline;
}
.input-checkbox ul a:hover{
    color:#333;
}
.login-button{
    display: inline-block;
    width: 340px;
    height:46px;
    margin:10px auto auto 20px;
}
#login-button-submit{
    width: 340px;
    height:46px;
    font-size:20px;
    text-align: center;
    line-height: 46px;
    color:#fff;
    background-color: #00a0e9;
    border-radius: 5px;
    margin:0 auto;
    display:block;
}
.login-button a:hover{
    text-decoration: none;
    color:white;
}
