/*样式重置*/
*{margin:0px;padding:0px;}
body{
    margin:0;
    padding:0;
    color:#333;
    letter-spacing:0.2px;
    background-color:#f8f8f8;
    font-family:"微软雅黑",Microsoft YaHei,Arial,Verdana;
}
em,i,u{
    font-style:normal;
}
b,strong{
    font-weight:normal;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration: none;
    color:#666666;
}
a:hover{
    text-decoration: under-line;
}
input,select,textarea{
    outline:none;
}
input[type="button"], input[type="submit"], input[type="reset"]
{
    -webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
.clearfix{
    clear:both;
}
footer,header,footer,nav,figure,menu{display:block}



/*首页头部详细内容样式*/
/* header{
    background-color: #f8f8f8;
}
.header-box{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
    color:#959595;
}
.header-left{
    float:left;
}
.header-right{
    float:right;
}
.visitors,.now-date{
    float:left;
    line-height: 30px;
}
.now-date{
    margin-right:80px;
}

.share,.login,.collection{
    font-style: normal;
    color:#959595;
    line-height: 30px;
}
.share i{
	color:#e88e19;
}
.header-right li{
    float: right;
}
.header-right .fa{
    font-size:14px;
    line-height:30px;
    margin-left:4px;
}
.header-right a{
    margin-left:24px;
    float: left;
}
.header-right a:hover{
    color:#e88e19;
} */
header{
	background-color:#333;
	height:56px;
}
header .header-box{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
}
header .header-box .header-left{
	float:left;
}
header .header-box .header-right{
	float:right;
}
header .header-box .header-left .qibiao-logo,.nav{
	float:left;
}
header .header-box .header-right>li{
	float:right;
}
header .header-box .header-left .qibiao-logo img{
	margin-right:5px;
}
header .header-box .header-left .qibiao-logo{
	font-size:18px;
	color:#fff;
	line-height:56px;
	margin-right:40px;
}
header .header-box .header-left .nav a{
	font-size:14px;
	line-height:56px;
	padding:0 10px;
	color:#ddd;
	float:left;
	text-decoration:none;
}
header .header-box .header-left .nav .active{
	background-color:#50a7ef;
	color:#fff;
	font-weight:bold;
}
header .header-box .header-left .nav a:hover{
	background-color:#50a7ef;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}
header .header-box .header-right .now-date,.visitors{
	color:#999;
	line-height:56px;
	font-size:12px;
}
header .header-box .header-right .now-date{
	margin-left:40px;
	}
header .header-box .header-right .visitors{
	margin-left:16px;
}
header .header-box .header-right .search-panel{
	color:#999;
	width:188px;
	line-height:34px;
	font-size:12px;
	margin-left:40px;
	background-color:none;
	position:relative;
	margin-top:11px;
}
header .header-box .header-right .search-panel .search-box{
	width:188px;
	height:34px;
	border:none;
	border-radius:3px;
	text-indent:26px;
	color:#9f9fb1;
	font-size:12px;
}
header .header-box .header-right .search-panel .icon-search{
	position:absolute;
	left:5px;
	top:10px;
	font-size:14px;
	color:#666;
}
header .header-box .header-right .collection,.login-box,.dropdown{
	font-size:12px;
	line-height:56px;
	margin-left:18px;
	color:#999;
}
header .header-box .header-right .dropdown .share{
	font-size:12px;
	line-height:56px;
	margin-left:18px;
	color:#999;
}
header .header-box .header-right .dropdown .share:hover{
	color:#fff;
	text-decoration:none;
}
header .header-box .header-right .collection:hover{
	color:#fff;
	text-decoration:none;
}
header .header-box .header-right .login-box:hover{
	color:#fff;
	text-decoration:none;
}
header .header-box .header-right .fa-lock,.fa-star,.fa-user{
	margin-right:5px;
}
header .header-box .header-right .fa-star{
	
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown ul{
    display:inline-block;
}
.dropdown-menu{
    position:absolute;
    bottom:-78px;
    left:16px;
    width:80px;
    font-size:12px;
    line-height: 26px;
    background-color:rgba(0,0,0,0.7);

}
.dropdown-menu a{
    text-align: center;
    margin:0;
    display: inline-block;
    width: 80px;
    color:#e6e6e6;
}
.dropdown-menu a:hover{
	color:#fff;
}
.dropdown-menu-1{
    position:absolute;
    top:56px;
    left:16px;
    width:80px;
    font-size:12px;
    line-height: 26px;
    background-color:rgba(0,0,0,0.7);
    z-index:1000;

}
.dropdown-menu-1 a{
    text-align: center;
    margin:0;
    display: inline-block;
    width: 80px;
    color:#e6e6e6;
}




/*导航详细内容样式*/
/* nav ul{
    display:block;
    width:1000px;
    height:90px;
    margin-left:auto;
    margin-right: auto;
}
nav ul li{
    float:left;
}
.nav-logo{
	width:226px;
	height:36px;
    margin-top:18px;
    margin-bottom:18px;
    margin-right:64px;
}
.nav-logo .logo{
    width:226px;
    color:#fff;
    margin-right:20px;
    margin-top:8px;
    display:block;
}
nav{
    height:88px;
   border-bottom:solid 1px #999;
   box-shadow:0px 0px 2px #dadada;
   background:#ffffff;
   
}
nav a{
    display:inline-block;
    padding-left:40px;
    padding-right:40px;
    height:88px;
    text-align:center;
}
nav span{
    display: inline-block;
    padding-top:45px;
    padding-bottom:5px;
    font-size:16px;
    color:#333;
}
.active{
    background-image: -webkit-linear-gradient(0deg, #f0f0f0, #ffffff, #f0f0f0);
}
.active span{
    border-bottom: solid 3px #50a7ef;
    font-weight:bold;
}
nav a:hover{
    background-image: -webkit-linear-gradient(0deg, #f0f0f0, #ffffff, #f0f0f0);
}
nav span:hover{
    border-bottom: solid 3px #50a7ef;
    font-weight:bold;
}
hr{
    margin:0;
    padding:0;
}
 */

/*新nav导航样式*/
/* .nav{
    background:#50a7ef;
    width:100%;
    height:85px;
}
.nav .nav-top{
    width:1000px;
    margin:auto;
}
.nav .nav-top .nav-left{
    float:left;
}
.nav .nav-top .nav-right{
    float:right;
    margin-top:36px;
}
.nav .nav-top .nav-left .logo{
    background:url("../image/logo-top.png") center no-repeat;
    background-color:#ffffff;
    margin:0 40px 0 0;
    width:76px;
    height:85px;
    float: left;
}
.nav .nav-top .nav-left a{
    display: inline-block;
    height:74px;
    font-size:16px;
    padding:34px 16px 24px 16px;
    color:#ffffff;
    margin-right:26px;
}
.nav .nav-top .nav-left .active{
    font-weight: bold;
    border-bottom:solid 3px #ffffff;
}
.nav .nav-top .nav-left a:hover{
    border-bottom:solid 3px #ffffff;
    text-decoration: none;
    font-weight: bold;
}
.nav .nav-top .nav-right .login-box,.collect{
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    margin-left:13px;
    text-decoration:none;
}
.nav .nav-top .nav-right .icon-star,.icon-lock{
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    margin-left:8px;
}
.nav .nav-top .nav-right .login-box:hover{
    text-decoration:underline;
    color: #ffffff;
}
.nav .nav-top .nav-right .collect:hover{
	text-decoration:underline;
    color: #ffffff;
} */


/*新footer页脚样式内容*/
.footer{
    width: 100%;
    height:120px;
    background-color:#ffffff;
    box-shadow:  0 0 5px #dddddd;
    bottom: 0;
}
.footer .footer-box{
    width:1000px;
    margin:0 auto;
}
.footer .footer-box .footer-left{
    float:left;
    margin-top:42px;
}
.footer .footer-box .footer-right{
    float:right;
    margin:20px 0 0 20px;
    font-size:12px;
    line-height:32px;
    color:#666666;
    text-align: center;
}
.footer .footer-box .footer-left li{
    font-size:12px;
    color:#999999;
    line-height: 24px;
}
.footer .footer-box .footer-left li i{
    color:#999999;
    width:250px;
    display:inline-block;
}
.footer .footer-box .footer-left li i a{
	color:#999999;
}
.footer .footer-box .footer-left li i a:hover{
	color:#145ccd;
	text-decoration:underline;
}



#login-button-submit{
    width: 340px;
    height:46px;
    font-size:20px;
    text-align: center;
    line-height: 46px;
    color:#fff;
    background-color: #00a0e9;
    border-radius: 5px;
    margin:0 auto;
    display:block;
}





