<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC 
"-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<plugins>
		<plugin interceptor="com.lanyuan.assembly.interceptor.PageInterceptor">
			<property name="databaseType" value="mysql" />
		</plugin>
		<plugin interceptor="com.lanyuan.assembly.interceptor.LowerCaseSqlInterceptor">
			<property name="databaseType" value="mysql" />
		</plugin>
		<!-- <plugin interceptor="com.lanyuan.assembly.interceptor.LowerCaseSqlInterceptor"></plugin> -->
	</plugins>
</configuration> 
