.body{
    margin:0;
    padding:0;
    font-family:"微软雅黑";
}
.clearfix{
    clear: both;
}
.row-list{
    display:inline;
    position: relative;
}
.group{
    margin-bottom:14px;
}
.form-control-1,.form-control-2,.form-control-3,.form-control-4,.form-control-5,.form-control-6{
    height: 34px;
    padding:7px 12px 7px 12px;
    border:1px solid #dddddd;
    box-shadow:none;
    box-sizing: border-box;
    border-radius: 3px;
}
.control-label{
    text-align: right;
    font-size:14px;
    color: #4e4e4e;
    width:110px;
    margin-right:5px;
    display: inline-block;
}
.delete{
    color: #666666;
    font-size:14px;
    position:absolute;
    right:-35px;
    top:-6px;
}
.select-control-1,.select-control-2{
    height: 34px;
    padding:7px 12px 7px 12px;
    border:1px solid #dddddd;
    box-shadow:none;
    box-sizing: border-box;
    border-radius: 3px;
}
.form-control-1{
    width:300px;
}
.form-control-2{
    width:784px;
}
.select-control-1{
    width:300px;
}
.select-control-2{
    width:350px;
}
.select-control-2{
    width:350px;
}
.form-control-3{
    width:200px;
}
.form-control-4{
    width:350px;
}
.form-control-5{
    width:200px;
}
.must{
    position:absolute;
    right:-16px;
    top:0px;
    color:red;
}
.must_1{
    position:absolute;
    right:0px;
    top:25px;
    color:red;
}
.text-must{
    position:absolute;
    right:-60px;
    top:-2px;
    color:red;
}
.row-list-1{
    float: left;
    position: relative;
    margin-right:80px;
}
.btn-success,.btn-default{
    padding:4px 10px 4px 10px ;
    font-size:16px;
    color:#333;
    margin-right:20px;
}
