/*样式重置*/
*{margin:0px;padding:0px;}
body{
    margin:0;
    padding:0;
    color:#333;
    letter-spacing:0.2px;
    background-color:#ffffff;
    font-family:"微软雅黑",Microsoft YaHei,Arial,Verdana;
}
em,i,u{
    font-style:normal;
}
b,strong{
    font-weight:normal;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}
a{
    text-decoration: none;
}
input,select,textarea{
    outline:none;
}
input[type="button"], input[type="submit"], input[type="reset"]
{
    -webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
.clearfix{
    clear:both;
}
/*头部详细内容样式*/
header{
    background-color: #f8f8f8;
}
.header-box{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    font-size:12px;
    color:#959595;
}
.header-left{
    float:left;
}
.header-right{
    float:right;
}
.visitors,.now-date{
    float:left;
    line-height: 30px;
}
.now-date{
    margin-right:80px;
}

.share,.login,.collection{
    font-style: normal;
    color:#959595;
    line-height: 30px;
}
.header-right li{
    float: right;
}
.header-right .fa{
    font-size:14px;
    line-height:30px;
    margin-left:4px;
}
.header-right a{
    margin-left:24px;
    float: left;
}
.header-right a:hover{
    color:#e88e19;
}
.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown ul{
    display:inline-block;
}
.dropdown-menu{
    position:absolute;
    bottom:-78px;
    left:16px;
    width:80px;
    font-size:12px;
    line-height: 26px;
    background-color:rgba(0,0,0,0.7);

}
.dropdown-menu a{
    text-align: center;
    margin:0;
    display: inline-block;
    width: 80px;
    color:#e6e6e6;
}
/*尾部详细内容样式*/
footer{
    font-size:12px;
    color:#959595;
    line-height:22px;
    text-align:center;
    width:1000px;
    left:50%;
    padding-top:16px;
    padding-bottom:16px;
    margin-left:auto;
    margin-right: auto;

}
/*导航详细内容样式*/
nav ul{
    display:block;
    width:1000px;
    height:90px;
    margin-left:auto;
    margin-right: auto;
}
nav ul li{
    float:left;
}
.nav-logo{
    margin-top:18px;
    margin-bottom:18px;
    margin-right:64px;
}
.logo{
    display: inline-block;
    width:100px;
    height:52px;
    border-bottom-left-radius: 26px;
    border-top-left-radius: 26px;
    border-bottom-right-radius: 26px;
    border-top-right-radius: 26px;
    background-color:#50a7ef;
    text-align:center;
    line-height:52px;
    color:#fff;
    margin-right:20px;
}
.product-name{
    font-size:32px;
    color:#333;
    line-height:52px;
    display:inline-block;
}
nav{
    height:88px;
    border-bottom:solid 1px #999;
}
nav a{
    display:inline-block;
    padding-left:40px;
    padding-right:40px;
    height:88px;
    text-align:center;
}
nav span{
    display: inline-block;
    padding-top:45px;
    padding-bottom:5px;
    font-size:16px;
    color:#333;
}
.active{
    background-image: -webkit-linear-gradient(0deg, #f0f0f0, #ffffff, #f0f0f0);
}
.active span{
    border-bottom: solid 3px #50a7ef;
    font-weight:bold;
}
nav a:hover{
    background-image: -webkit-linear-gradient(0deg, #f0f0f0, #ffffff, #f0f0f0);
}
nav span:hover{
    border-bottom: solid 3px #50a7ef;
    font-weight:bold;
}
hr{
    margin:0;
    padding:0;
}
footer{
    font-size:12px;
    color:#959595;
    line-height:22px;
    text-align:center;
    width:1000px;
    left:50%;
    padding-top:16px;
    padding-bottom:16px;
    margin-left:auto;
    margin-right: auto;
}
.footer-right{
    float:right;
}
.footer-left{
    float:left;
}









