@charset "UTF-8";
/* CSS Document */
*{margin:0px;padding:0px;}
body{
	margin:0;
	padding:0;
	color:#333;
	letter-spacing:0.2px;
	background-color:#ffffff;
	font-family:"微软雅黑","冬青黑体简体中文 W3",Microsoft YaHei,Arial,Verdana;
}
em,i,u{
	font-style:normal;
}
b,strong{
	font-weight:normal;
}
ul{
	margin:0;
	padding:0;
	list-style:none;
}
input,select,textarea{
	outline:none;
}
input[type="button"], input[type="submit"], input[type="reset"]
{
	-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}
.clearfix{
	clear:both;
}
a{
	cursor:pointer;
}
.top{
	height:120px;
}

/*信息类列表页样式开始*/
/*公用*/
.fenye-list li:after,.sub-seach:after{
	display:table;
	content:"";
	line-height:0;
	clear:both;
}
/*banner================================================================================*/
.sub-banner-newwrap{
	width:100%;
	height:240px;
	text-align:center;
	overflow:hidden;
	position:relative;
}
.sub-banner-new{
	background:url(../image/sub-banner-new.png) no-repeat center top;
}
.sub-banner01{
	background:url(../image/sub-banner01.png) no-repeat center top;
}
.sub-posit{
	position:absolute;
	left:0;
	bottom:0;
	height:42px;
	width:100%;
	background-color: rgba(0,0,0,0.2);
}
@media \0screen\,screen\9 {/* 只支持IE6、7、8 */
  .sub-posit{
    background-color:#000000;
    filter:Alpha(opacity=20);
    position:static; /* IE6、7、8只能设置position:static(默认属性) ，否则会导致子元素继承Alpha值 */
    *zoom:1; /* 激活IE6、7的haslayout属性，让它读懂Alpha */
  }
}
.sub-posit-cont{
	width:1000px;
	height:42px;
	line-height:42px;
	margin:0 auto;
	text-align:left;
	font-size:14px;
	color:#eeeeee;
}
.posit-a{
	color:#fff60d;
	font-weight:bold;
}
.posit-a:hover{
	color:#ffffff;
	cursor:pointer;
}
.sub-posit-cont i{
	font-weight:normal;
	font-size:18px;
	padding:0 6px;
}
.sub-posit-cont b{
	font-weight:normal;
}
/*搜索*/
.sub-seach{
	width:100%;
	height:60px;
	line-height:60px;
	text-align:center;
	padding:10px 0 0 20px;
	margin-bottom:20px;
	background:#f8f8f8;
}
.sub-sear-text{
	width:320px;
	height:36px;
	line-height:36px;
	text-indent:0.5em;
	font-size:14px;
	border:1px solid #dadada;;
	border-top-left-radius:5px;
	-webkit-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-bottom-left-radius:5px;
	float:left;
	background-color:#ffffff;
}
.sub-sear-but{
	width:80px;
	height:36px;
	line-height:36px;
	float:left;
	color:#ffffff;
	font-size:16px;
	border:1px solid #dadada;
	border-top-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-bottom-right-radius:5px;
	background:#50a7ef;
}
.sub-sear-but:hover{
	background:#56adf5;
}
/*分页=========================================================*/
.fenye{
	text-align:center;
	margin:20px 0 40px;
	width:1000px;
}
.fenye-list{
	padding:0;
	margin:0 auto;
	height:34px;
}
.fenye-list li{
	float:left;
	width:34px;
	height:34px;
	margin:0 5px;
	text-align:center;
	line-height:34px;
	border:1px solid #dadada;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
}
.fenye-list li a{ 
	color:#666666;
	display:table;
	width:100%;
	height:34px;
}
.fenye-list li a:hover{ 
	color:#ffffff;
	background:#50a7ef;
}
.fenye-list li.selected a{
	color:#fff;
	background:#50a7ef;
}
.fenye-list li.visited a{
	color:#cccccc;
}
.fenye-list li.shangyiye{
	padding:0px;
	width:60px;
}
/*信息列表=========================================================*/
.sub-contnew{
	width:1000px;
	height:auto;
	padding:20px;
	margin:20px auto;
	box-shadow:0px 0px 5px #dadada;
	background:#ffffff;
	min-height:680px;
}
.news-list{
	/*border-bottom:1px dashed #f0f0f0;*/
	padding-left:0;
}
.news-list li{
	line-height:24px;
	font-size:12px;
	padding-left:0;
	overflow:hidden;
}
.news-list li a{
	color:#111111;
}
.news-list li i{
	padding-right:25px;
	font-size:16px;
}
.news-list li b{
	font-weight:normal;
	color:#999999;
	padding-left:5px;
}
.news-list li span{
	float:right;
	color:#999999;
}
.news-list li.list-bord{
	color:#dadada;
	font-size:8px;
	letter-spacing:2px;
}
/*loading页面================================================*/
.sub-cont-load{
	width:1000px;
	height:560px;
	margin:20px auto;
	text-align:center;
	padding-top:50px;
}
/*新闻详情页==================================================*/
.nlist-detil-title{
	height:60px;
	padding-top:16px;
	font-size:18px;
	border-bottom:2px solid #f0f0f0;
}
.nlist-detil-title span{
	float:right;
	padding-left:20px;
	font-size:14px;
	color:#999999;
}
.nlist-detil-title span i{
	color:#e88e19;
	padding-right:5px;
	font-size:16px;
}
.new-detil{
	padding:10px 0;
	line-height:24px;
	font-size:12px;
	color:#666666;
}
.new-detil-xg{
	padding:10px 0;
	border-top:1px solid #f0f0f0;
	color:#999999;
}
.new-detil-xg span{
	float:right;
}
.xg-display{
	color:#cccccc;
}



























